/* ========== WHITE - GOLD - BLACK PREMIUM THEME ========== */

/* PAGE BACKGROUND */
.container-fluid {
  background-color: #ffffff !important;
  padding: 40px;
}

/* HEADER SECTION */
h5.fw-bold {
  color: #000;
}

.btn-primary {
  background-color: #e3f6fd !important; /* Gold */
  /* border-color: #d4af37 !important; */
  border: none;
  color: #000 !important;
  font-weight: 600;
}


/* CARDS */
.card {
  border-radius: 12px;

}

.card .text-success,
.card .text-warning,
.card .text-danger,
.card .text-primary {
  color: #000000 !important; /* Gold Icons */
}
.table thead tr th {
  background: linear-gradient(135deg, #e3f6fd, #e3f6fd) !important;
  color: #000000 !important;

}

.card h5 {
  color: #000 !important;
}

/* TABLE CONTAINER */
.table-container {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #f0e6c8; /* light gold border */
  overflow: hidden;
}

/* TABLE HEADER */
.custom-table thead {
  background-color: #000 !important;
  color: #d4af37 !important; /* Gold Text */
}

.custom-table thead th {
  padding: 12px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  border: none;
}

/* TABLE ROWS */
.custom-table tbody tr {
  border-bottom: 1px solid #f1ead6;
  transition: all 0.2s ease-in-out;
}

.custom-table tbody tr:hover {
  background-color: #fff8dc; /* Light gold tint */
  transform: scale(1.002);
}

.custom-table tbody tr:nth-child(even) {
  background-color: #fcfaf2; /* Light ivory */
}

/* TABLE CELLS */
.custom-table tbody td {
  vertical-align: middle;
  font-size: 13px;
  color: #000;
  padding: 12px;
}

/* ACTION BUTTONS */
.custom-table tbody td button {
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #d4af37; */
  color: #000000;
  background-color: transparent;
  transition: all 0.2s ease;
}

.custom-table tbody td button:hover {
  background-color: #d4af37;
  color: #000;
}

/* BADGES */
.badge {
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
}

.bg-warning {
  background-color: #ffda6a !important;
  color: #000 !important;
}

.bg-success {
  background-color: #ebd48c !important;
  color: #000 !important;
}

.bg-danger {
  background-color: #e98484 !important;
  color: #000000 !important;
}

/* TABLE HEADER STICKY */
.custom-table thead th {
  position: sticky;
  top: 0;
  /* background-color: #000; */
  z-index: 10;
  color: #d4af37;
}

/* CARD HEADER */
.card-header {
  margin-bottom: 10px !important;
  background-color: #1f4756 !important;
  color: #000000 !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

/* REFRESH / NEW REQUEST BUTTONS */
.card-header .btn {
  background: #e3f6fd !important;
  color: #000 !important;
  border: none !important;
  font-weight: 600;
}

.card-header .btn:hover {
  background: #b9902d !important;
}
