/* GLOBAL SMOOTH TRANSITION */
body {
  transition: background 0.3s, color 0.3s;
}

/* LIGHT THEME */
body.light {
  background-color: #f4f6fa;
  color: #222;
}

body.light .card {
  background: #fff;
  color: #222;
}

body.light .list-group-item {
  background: #fff;
  color: #222;
}

body.light .list-group-item.active {
  background: #0d6efd;
  color: white;
}

/* DARK THEME */
body.dark {
  background-color: #121212;
  color: #eee;
}

body.dark .card {
  background: #1e1e1e;
  color: #eee;
}

body.dark .list-group-item {
  background: #1a1a1a;
  color: #eee;
}

body.dark .list-group-item.active {
  background: #3a3a3a;
  color: white;
}

body.dark input,
body.dark select,
body.dark textarea {
  background: #222;
  color: white;
  border-color: #555;
}

/* Theme Toggle Button */
.theme-toggle {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.theme-toggle:hover {
  transform: rotate(20deg);
}
.savebtn{
  border: none !important;
}