<div class="inventory-wrapper container-fluid px-4 py-4">

  <!-- Header -->
  <div class="page-header mb-4 d-flex justify-content-between align-items-center flex-wrap">
    <div>
      <h3 class="fw-bold m-0">Products</h3>
      <p class="small m-0">Manage, track & monitor all assets</p>
    </div>
    <button class="btn btn-primary btn-sm shadow-sm" (click)="openAddModal()">
      <i class="bi bi-plus-circle me-1"></i> Add Item
    </button>
  </div>

  <!-- Filters -->
  <div class="filter-bar shadow-sm p-3 rounded mb-3 bg-white">
    <div class="row g-2 space">
      <div class="col-md-4">
        <input type="text" class="form-control form-control-sm" placeholder="🔍 Search item..." [(ngModel)]="searchTerm"
           />

        <select class="form-select form-select-sm" [(ngModel)]="selectedCategory" (change)="applyFilters()">
          <option value="">All Categories</option>
          <option *ngFor="let cat of categoryList" [value]="cat.category">{{ cat.category }}</option>
        </select>

      </div>
      <div class="col-md-2 refesh-spacing">
        <button class="btn btn-outline-dark btn-sm w-100" (click)="allTechInventory()">
          <i class="bi bi-arrow-clockwise me-1"></i> Refresh
        </button>
      </div>

    </div>
  </div>

  <!-- Inventory Table -->
  <div class="card card-modern shadow-sm border-0 rounded-4">
    <div class="inventory-table-wrapper">
      <table class="table table-hover align-middle mb-0 inventory-grid">
        <thead class="table-dark-header">
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Stock Keeping Unit(SKU)</th>
            <th>Price</th>
            <th>Available / Total</th>
            <th>Supplier</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inventoryList; let i = index" class="table-row-hover">
            <td class="sticky-col first-col">{{ (page - 1) * limit + (i + 1) }}</td>
            <td (click)="editItem(item)"><strong>{{ item.name }}</strong></td>
            <td>{{ item.brand?.brand }}</td>
            <td>{{ item.category?.category }}</td>
            <td>{{ item.sku }}</td>
            <td>{{ item.price }}</td>
            <td class="text-center">{{ item.quantity_available }} / {{ item.quantity_total }}</td>
            <td>{{ item.supplier?.name }}</td>


            <td>
              <span class="modern-badge" [ngClass]="{
                  'badge-success': item.status === 'Available',
                  'badge-primary': item.status === 'UnAvailable',
                  'badge-warning': item.status === 'Repair',
                  'badge-secondary': item.status === 'Retired',
                  'badge-danger': item.status === 'Lost'
                }">
                {{ item.status }}
              </span>
            </td>
            <td class="sticky-col last-col text-center">
              <button class="btn btn-sm btn-outline-black" (click)="deleteItem(item._id)" title="Delete">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="inventoryList.length === 0">
            <td colspan="9" class="text-center text-muted py-4">
              <i class="bi bi-inbox"></i> No records found
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modern Pagination -->
    <div class="d-flex justify-content-between align-items-center px-3 py-3 border-top">

      <div class="text-muted small">
        Showing page <strong>{{ page }}</strong> of <strong>{{ totalPages }}</strong>
      </div>

      <nav>
        <ul class="pagination mb-0">

          <!-- Prev Button -->
          <li class="page-item" [class.disabled]="page === 1">
            <a class="px-3 pagenation" (click)="prevPage()">
              << </a>
          </li>

          <!-- Number Buttons -->
          <ng-container *ngFor="let p of [].constructor(totalPages); let i = index">
            <li class="page-item pagenatio-gap" [class.active]="page === i + 1">
              <a class="page-link rounded-pill pagenation-number" (click)="page = i + 1; goToPage(i+1)">
                {{ i + 1 }}
              </a>
            </li>
          </ng-container>

          <!-- Next Button -->
          <li class="page-item" [class.disabled]="page === totalPages">
            <a class="px-3 pagenation" (click)="nextPage()">
              >>
            </a>
          </li>

        </ul>


      </nav>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(256, 256, 256, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true"
  template="<img src='assets/stockify.png' />">
  <!-- Centered Logo -->
  <div class="spinner-logo" *ngIf="isLoading">

  </div>
</ngx-spinner>